@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
    font-family: 'Podkova';
}

html {
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(#00000066, #00000066), url('/imgs/background.png');
    background-position: center bottom;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes fall {
    from {
        transform: translate(-50%, -100%);
    }
    to {
        transform: translate(-50%, 100vh);
    }
}

:root{
    --toastify-color-success: #fff;
    --toastify-color-error: #e74c3c;
    --toastify-color-dark: #07A5FF;
}

@media only screen and (max-width: 480px) {
    .Toastify__toast{
        border-radius: 10px;
    }
}

.Toastify__toast{
    margin: 10px 10px 0 10px;
}

.Toastify__toast > .Toastify__toast-body > * {
    color: var(--toastify-icon-color-success);
}

.Toastify__toast.Toastify__toast--error > .Toastify__toast-body > * {
    color: var(--toastify-icon-color-error);
    font-weight: bold;
}